*.pyc
*.pdf
/flycheck_guessfilename.py
/flycheck_guessfilename_test.py
original_PDF/*
example_call.sh
testdata
.cache
MANIFEST dist
dist/
.gitignore
update_pip.sh
build/
guessfilename.egg-info/
venv/
